#root {
  height: 100vh
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

html {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*+p, *+ul, *+ol, *+dl, *+pre, *+address, *+fieldset, *+figure {
    margin-top: 20px;
}

p, ul, ol, dl, pre, address, fieldset, figure {
    margin: 0 0 20px 0;
}

.error {
    color: red;
    font-size: 1em;
    font-style: oblique;
    line-height: 0em;
    padding: 20px;
    font-weight: 600;
    background-color: #f8f8f8;
}

.article {
  display: flow-root;
}

.articleTitle {
  font-size: 38px;
  line-height: 1.2;
}

.articleMeta {
  font-size: 14px;
  line-height: 1.4;
  color: #999;
}

.textLead {
    font-size: 24px;
    line-height: 1.5;
    color: #222;
    font-weight: 300;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttonText {
  padding: 0;
    line-height: 1.5;
    background: none;
    color: #222;
    position: relative;
}

.buttonText::before {
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: 1px solid #222;
    transition: right .3s ease-out;
}

.button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}



.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

